<div class="row">
	<div class="col-md-12"><h1 class="text-center">All Results</h1></div>
</div>

<div class="row">
	<div class="col-md-12">
		<table class="table-bordered text-center">
			<thead>
				<tr>
					<th class="text-center">API used</th>
					<th class="text-center">Name</th>
					<th class="text-center">LinkedIn</th>
					<th class="text-center">Avatar</th>
					<th class="text-center">Company</th>
					<th class="text-center">Title</th>
					<th class="text-center">Tags</th>
				</tr>
			</thead>

			<tbody>
				<% @users.each do |user| %>
					<% user.profiles.each do |profile| %>
						<% if profile.source != "Prospector" %>
							<%= render partial: 'profile_row', locals: {profile: profile} %>
						<% end %>
					<% end %>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<div class="row">
	<div class="col-md-12 text-center">
		<a class="btn btn-default" href="/" role="button">Back</a>
	</div>
</div>