<div class="row">
	<div class="col-xs-12"><h1 class="text-center">User Results</h1></div>
</div>

<div class="row">
	<div class="col-xs-12">
		<table class="table-bordered text-center">
			<thead>
				<tr>
					<th>API used</th>
					<th>Name</th>
					<th>LinkedIn</th>
					<th>Avatar</th>
					<th>Company</th>
					<th>Title</th>
					<th>Tags</th>
				</tr>
			</thead>

			<tbody>
				<% @user.profiles.each do |profile| %>
					<%= render partial: 'profile_row', locals: {profile: profile} %>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 text-center">
		<a class="btn btn-default" href="/" role="button">Back</a>
	</div>
</div>